@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input[type="radio"] {
  --s: 1.25rem;
  border-radius: 50%;
  width: var(--s);
  border: 0.125rem solid var(--_c, #555555);
  padding: 0.188rem;
  background: var(--_c, #0000) content-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  transition: 0.3s;
}

input[type="radio"]:checked {
  --_c: #1226aa;
}

#storybook-root {
  width: 100% !important;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
